*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:sans-serif;
scroll-behavior:smooth;
}

body{
background:#051129;
color:#fff;
}

.header{
position:fixed;
top:0;
left:0;
width:100%;
padding:20px 10%;
background:#081b3a;
display:flex;
justify-content:space-between;
align-items:center;
z-index:100;
}

.logo{
font-size:32px;
color:#fff;
text-decoration:none;
font-weight:bold;
}

.navbar a{
color:#fff;
text-decoration:none;
margin-left:35px;
font-size:22px;
transition:.3s;
}

.navbar a:hover{
color:#0ef;
}

section{
min-height:100vh;
padding:100px 10%;
}

.home{
display:flex;
justify-content:space-between;
align-items:center;
}

.home-content h1{
font-size:60px;
}

.home-content h3{
font-size:30px;
}

.home-content span{
color:#0ef;
}

.home-content p{
margin-top:20px;
width:500px;
line-height:1.6;
}

.home-img img{
width:420px;
border-radius:50%;
border:8px solid #0ef;
box-shadow:0 0 50px #0ef;
}

.social a{
display:inline-flex;
justify-content:center;
align-items:center;
width:40px;
height:40px;
border:2px solid #0ef;
border-radius:50%;
color:#0ef;
text-decoration:none;
margin:30px 15px 30px 0;
font-size:20px;
}

.btn{
display:inline-block;
padding:12px 28px;
background:#0ef;
border-radius:40px;
color:#081b29;
text-decoration:none;
font-weight:bold;
box-shadow:0 0 20px #0ef;
}

.about{
display:flex;
align-items:center;
gap:50px;
}

.about-img img{
width:400px;
border-radius:50%;
border:8px solid #0ef;
box-shadow:0 0 50px #0ef;
}

.about-text h2{
font-size:60px;
}

.about-text span{
color:#0ef;
}

.about-text h4{
font-size:30px;
margin:20px 0;
}

.services h1,
.skills h1{
text-align:center;
font-size:60px;
margin-bottom:50px;
}

.services span,
.skills span{
color:#0ef;
}

.services-container{
display:grid;
grid-template-columns:repeat(3,1fr);
gap:30px;
}

.service-box{
background:#0a1f44;
padding:40px;
border-radius:20px;
box-shadow:0 0 20px #001eff;
}

.service-box i{
font-size:50px;
color:#0ef;
}

.service-box h2{
margin:20px 0;
}

.skill-bars{
width:600px;
}

.bar{
margin:30px 0;
}

.progress{
width:100%;
height:10px;
background:#000;
border-radius:10px;
}

.progress div{
height:10px;
background:#0ef;
border-radius:10px;
}

.contact{
display:flex;
justify-content:space-between;
gap:50px;
}

.contact h2{
font-size:60px;
}

.contact span{
color:#0ef;
}

.contact-form form input,
.contact-form form textarea{
width:100%;
padding:15px;
margin-bottom:15px;
background:#555;
border:none;
border-radius:10px;
color:#fff;
}

.contact-form button{
width:100%;
padding:15px;
background:#0ef;
border:none;
border-radius:40px;
font-size:18px;
font-weight:bold;
}